Attest-latest==0.6.1.dev20130603
Babel==2.6.0
bleach==3.1.4
blockdiag==1.5.4
certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
cram==0.7
docutils==0.14
filelock==3.0.10
funcparserlib==0.3.6
idna==2.8
imagesize==1.1.0
Jinja2==2.10.1
Mako==1.0.9
Markdown==3.1
MarkupSafe==1.1.1
packaging==19.0
Pillow==6.0.0
pkginfo==1.5.0.1
pluggy==0.9.0
progressbar-latest==2.4
py==1.8.0
Pygments==2.3.1
pyparsing==2.4.0
pytz==2019.1
readme-renderer==24.0
requests==2.21.0
requests-toolbelt==0.9.1
six==1.12.0
smartypants==2.0.1
snowballstemmer==1.2.1
Sphinx==2.0.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-blockdiag==1.5.5
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
toml==0.10.0
tox==3.9.0
tqdm==4.31.1
translitcodec==0.4.0
twine==1.13.0
urllib3==1.24.2
virtualenv==16.5.0
webcolors==1.8.1
webencodings==0.5.1
zest.releaser==6.18.2
