{% extends "base.html" %}

{% block title %}{{ conf.sitename }} – Artikelübersicht{% endblock %}

{% block content %}
    <div class="posting">
        <div class="postheader">
            <span class="date">{{ env.num_entries }} Beiträge</span>
        </div>
        <div class="postbody">
            {% for year in articles|sort(reverse=True) %}
            <h2>{{ year }}</h2>
            <ul>
                {% for entry in articles[year] %}
                    <li>
                        <span>{{ entry[0].strftime('%d.%m.%Y: ') }}</span>
                        <a href="{{ entry[1]}}">{{ entry[2] | e }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}
