{% extends"base/main.html" %}

{% block content %}
    <div class="top">
        <div class="row">
            <div class="small-12 medium-3 small-centered columns">
                <img alt="blubee's software engineer, based culinarian splash image"
                     height="300" width="300" src="{{ env.path + 'static/images/blubee-me-splash-image.svg' }}" title="blubee polyglot programmer, culinarian splash image"/>
            </div>
        </div>
    </div>

    <div class="ppp"></div>

    <div class="pp">
        <div class="row" data-equalizer>
            <div class="heading small-12 small-centered columns"><h1>blubee the polyglot programmer</h1></div>
            <div class="small-12 columns">
                <div class="small-12 medium-6 columns" data-equalizer-watch>
                    <img alt="writing performant mobile software applications with functions" height="300" width="600" src="{{ env.path + 'static/images/blubee-polyglot-programming-fofx.svg' }}" title="blubee the polyglot programmer"/>
                </div>
                <div class="small-12 medium-6 columns" data-equalizer-watch>
                    <dl class="accordion" data-accordion>
                        <dd class="accordion-navigation">
                            <a href="#panel1">Front End Software Engineer</a>

                            <div id="panel1" class="content active">
                                <div class="tabs-content">
                                    <div class="content active">
                                        <p>Blubee has not only designed and implemented front facing features for clients of all
                                            sizes.</p>

                                        <p>This included building custom frameworks and libraries that supported a
                                            wide-range of features from the simple to very complex for my clients.</p>

                                        <p>Responsible for writing fast and robust web based applications supported
                                            by client side code all while being able to rapidly prototype and refine as
                                            the scope of the project changes.</p>

                                        <p>Optimize web applications to maximize speed and scale.</p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="accordion-navigation">
                            <a href="#panel2">Back End Software Engineer</a>

                            <div id="panel2" class="content">
                                <p>Working individually on a project or a part of a large team
                                    I have the experience and technical know how to not only be the
                                    designer, architect and coder for projects of all sizes and complexity
                                    levels.</p>

                                <p>Whether I'm at the helm leading a project or being a part of a team where making
                                    sure that the product is completed on time, I am a dynamic and able to effective play
                                    my role to ensure that we overcome all obstacles that might come up during
                                    development.</p>

                                <p>I take great pride in my work and make sure that all products that are delivered
                                    are of the hightest quality and standards.</p>
                            </div>
                        </dd>
                        <dd class="accordion-navigation">
                            <a href="#panel3">Mobile Applications</a>

                            <div id="panel3" class="content">
                                <p>Blubee have always loved the challenge of doing something with limited resources. This
                                    is one of the main reasons why I love mobile software engineering. Mobile devices
                                    are typically limited by power requirements, memory requirements, storage space or
                                    network bandwidth.</p>

                                <p>Working within these predefined limits allows you to push the limites of your
                                    imagination and skill for developing simple or comples applications that will
                                    run in a performant way on these devices with limited resources.</p>

                                <p>In the past I have developed mobile applications for Android, iOS and the
                                    Blackbery 10 platforms.</p>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="cpp"></div>

    <div class="culinarian">
        <div class="row" data-equalizer>
            <div class="heading small-10 small-centered columns"><h1>Blubee's Plant Based
                Culinarian</h1></div>
            <div class="small-12 columns">
                <div class="small-12 medium-6 columns" data-equalizer-watch>
                    <p>A culinarian is a person skilled in the preparation of food. Blubee excells in creating
                    amazing dishes without unprocessed plant materials.</p>

                    <p>I am a plant based culinarian because I enjoy making foods that do not contain any animal
                        products but in indiscernible to the even the most picky eaters and food critics.</p>

                    <p>My dishes are 100% hand crafted with care down to the finest details. Not unlike my software
                        development skills I strive for the best when creating dishes for myself or my guests.
                        That I'll share with my you; all the visitors who stop by my blog</p>
                </div>
                <div class="small-12 medium-6 columns" data-equalizer-watch>
                    <img height="300" width="600" alt="a plant based culinarian that creates food to keep me going"
                         src="{{ env.path + 'static/images/plate.svg' }}" title="blubee's plant based culinarian image"/>
                </div>
            </div>
        </div>
    </div>

    <div class="mandarin">
                <div class="heading small-12 small-centered columns"><h1>Learning Traditional Chinese is Easy with Blubee</h1></div>
        <div class="row">
            <div class="small-12 small-centered medium-8 columns">
                <p>Yea! That's right, learning to read, write and speak Traditional Chinese is not
                only easy but fun. Don't believe me? Hear me out. Blubee speaks from personal experience,
                check out below.</p>
                <p>I've had the pleasure to live in Taiwan for quite a few years now
                and while many people say Chinese is a difficult language. I couldn't disagree
                with that statement more! Sure Traditional Chinese takes a different mindset to
                to understand, saying it's hard because it's different is just being lazy.</p>

                <p>If you've tried to learn Mandarin in the past and failed, don't worry, you
                didn't fail, you just took a little break. You've found the right place to hop
                back on the wagon and get your Chinese in order. I've only formally studied Mandarin
                for about a year and half and now I am able to live here without any serious problems.</p>

                <p>If you would like to improve your Traditional Chinese, check out the blog posts that I've
                created for you. It's very easy and I'll provide simple building blocks to accelerate your
                Chinese proficiency.</p>
            </div>
        </div>
    </div>


    <div class="fitness">
                <div class="heading small-12 small-centered columns"><h1>Wanna Get in Shape Without The Hype only Blubee</h1></div>
        <div class="row" data-equalizer>
            <div class="img small-12 medium-4 columns" data-equalizer-watch>
                <p>Getting in shape without the hype but all the excitement!
                Blubee doesn't likes spending hours in a damp gym waiting in
                line for workout equipment and he doesn't believe anyone likes that either.</p>
                <p>Getting in shape is fun, it's not spending hours in the gym,
                because no one likes doing that.</p>
                <p>Definitely not eating meals prepared on Sunday all through the week,
                did anyone really enjoy bland cafeteria food growing up? Why do that
                to yourself now?</p>
                <p>There will be challenges but it shouldn't be painful.</p>
            </div>
            <div class="small-12 medium-8 columns" data-equalizer-watch>
                <p>I've had the opportunity to work with people of all age ranges,
                shapes and sizes from all over the world. One thing that I can
                tell you is that a lot of times people struggle to get in shape
                because they don't know who to listen to.</p>
                <p>Thre's so much random noise out there that it's almost impossible
                to find sound advice as how to get in shape and stay that way. No stress
                no life changing workout routines. None of the hype, definitely no taking
                pills, no magic potions and no crazy diets.</p>
                <p>Actually I'll tell you to eat, eat a lot, eat until your stomach is full.
                The proof is my picture right behind this article. I like simplicity and
                getting things done.</p>
                <p>If your in the getting rid of excess weight or build some muscle category.
                You've finally found the right spot.</p>
            </div>
        </div>
    </div>

    <div class="multimedia">
            <div class="heading small-12 small-centered columns"><h1>Music Art Creativity From Blubee's Mind</h1></div>
        <div class="row" data-equalizer>
            <div class="small-12  medium-4 columns" data-equalizer-watch>
                <h3>A Little Artsy</h3><br>
                <p>I've always been an artist, from a very young age. As life went on I had to put it to
                the side for a little bit while I worked on stabilizing myself. I realized now that
                art is stability.</p>
                <p>I'll be sharing art, music and just my creative side here with you. Stay tuned for more.</p>
            </div>
            <div class="small-12  medium-4 columns" data-equalizer-watch>
                <h3>The Sounds That Move</h3><br>
                <p>Being somewhat of an 80's baby I grew up on crazy cartoons like
                Silverhawks, Thundercats, G.I. Joe and all those awesome cartoons of the 80's.</p>
                <p>I didn't know it back then but also those cartoons had amazing synth inspired
                sound tracks and scores. Those sounds are the inspiration for me to create awesome
                music today</p>
            </div>
            <div class="small-12  medium-4 columns" data-equalizer-watch>
                <h3>A Grab Bag</h3><br>
                <p>This is a section where I'll just add all types multimedia.
                    Anything that I feel is creative but can't quite find the right
                    place to put. I'll just go ahead and drop it here.</p>
                <p>Stick around for awesome artwork, music, and like I said 'creativity'.</p>
            </div>
        </div>
    </div>

    <div class="socialite">
            <div class="heading small-12 small-centered columns"><h1>Let's Get Social Find Blubee Online</h1></div>
        <div class="row" data-equalizer>
            <div class="small-4 medium-2 columns" data-equalizer-watch>
                <ul>
                    <li><a rel="nofollow" target="_blank" href="http://www.facebook.com/azonal.torah"><img width="64" height="64" src="{{ env.path + 'static/images/blubee-me-facebook-social-icon.svg' }}" alt="blubee.me facebook social icon" title="facebook flat social icon"/></a></li>
                    <li><a rel="nofollow" target="_blank" href="http://instagram.com/blubeegan"><img width="64" height="64" src="{{ env.path + 'static/images/blubee-me-instagram-social-icon.svg' }}" alt="blubee.me instagram social icon" title="instagram flat social icon"/></a></li>
                    <li><a rel="nofollow" target="_blank" href="https://www.pinterest.com/blubeegan/"><img width="64" height="64" src="{{ env.path + 'static/images/blubee-me-pinterest-social-icon.svg' }}" alt="blubee.me pinterest social icon" title="pinterest social icon"/></a></li>
                    <li><a rel="nofollow" target="_blank" href="https://twitter.com/blubeeme"><img width="64" height="64" src="{{ env.path + 'static/images/blubee-me-twitter-social-icon.svg' }}" alt="blubee.me-twitter social icon" title="twitter flat social icon"/></a></li>
                    <li><a rel="nofollow" target="_blank" href="https://www.youtube.com/user/owenhogarth"><img width="64" height="64" src="{{ env.path + 'static/images/blubee-me-youtube-social-icon.svg' }}" alt="blubee.me youtube social media link" title="youtube link social icon"/></a></li>
                    <li><a rel="nofollow" target="_blank" href="https://plus.google.com/+OwenHogarthII/posts"><img width="64" height="64" src="{{ env.path + 'static/images/blubee-me-google-plus-social-icon.svg' }}" alt="blubee.me google+ social media page" title="google plus social icon"/></a></li>
                    <li><a rel="nofollow" target="_blank" href="https://www.linkedin.com/in/owenhogarthii"><img width="64" height="64" src="{{ env.path + 'static/images/blubee-me-linkedin-social-icon.svg' }}" alt="blubee.me-linkedin social network icon" title="linkedin social icon"/></a></li>
                </ul>
            </div>
            <div class="small-8 medium-10 columns" data-equalizer-watch>
                <p>Check here for the latest update from all my social
                networking channels.</p>
                <p>Make sure you add me to your social networks, I love
                to keep in touch with you all.</p>
            </div>
        </div>
    </div>


    <div class="hello">
        <div class="row" data-equalizer>
            <div class="small-10 small-centered columns"><h1>Say Hello to
                Blubee</h1></div>
            <div class="small-12 columns">
                <div class="small-12 medium-6 columns" data-equalizer-watch>
                    <p class="hello-content">
                        Get in touch, If you have any questions or comments don't hesitate to
                        send me an email.
                        <br>
                        <br>
                        I do my best to reply to all emails received but due to the
                        overwhelming number of emails that I receive please don't be upset if it takes me a few days to
                        respond.
                    </p>
                </div>
                <div class="small-12 medium-6 columns" data-equalizer-watch>
                    {%- include 'base/contact-form.html' -%}
                </div>
            </div>
        </div>
    </div>
{% endblock %}