xhtml
    head
        title | {{ blog_title }} – Artikelübersicht
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        > link rel=stylesheet type=text/css media=all, href={{www_root}}/blog.css
        > link rel="shortcut icon" href={{www_root+"/favicon.ico"}}
        > link rel=name href={{www_root}}
        > link rel=alternate title="Atom-Feed" type=application/atom+xml href={{www_root+"/atom/"}}
        > link rel=alternate title="RSS-Feed" type=application/rss+xml href={{www_root+"/rss/"}}
    body
        div
            div.blogtitle
                h2
                    a#blogtitle href={{www_root}} | {{ blog_title }}
            div.mainlinks
                ul
                    li
                        a href="http://blog.posativ.org/" | blog
                    li
                        a href="http://blog.posativ.org/atom/" | atom
                    li
                        a href="http://blog.posativ.org/rss/" | rss
                    li
                        a href="http://blog.posativ.org/articles/" | articles
            div.blogbody
                div.posting
                    div.postheader
                        span#date | {{ num_entries }} Beiträge
                    div.postbody
                        ...
            div.blogfooter
                p | written by
                a href="mailto:info@posativ.org" | posativ
                a href="http://creativecommons.org/licenses/by-nc-sa/2.0/de/"
                    > img src={{www_root}}/img/cc.png alt="by-nc-sa"