<div class="posting">
    <div class="postheader">
        <h1 class="subject">
            <a href="{{ url }}">{{ title }}</a>
        </h1>
        <span class="date">{{ date.strftime("%d.%m.%Y, %H:%M") }}</span>
    </div>
    <div class="postbody">        
        {{ body }}
    </div>
    <div class="postfooter">
        {% if 'disqus' in extensions and type == 'page' %}
            <a href="{{ url }}#disqus_thread">Kommentieren</a>
        {% endif %}
    </div>
    <div class="comments">
        {% if 'disqus' in extensions and type == 'item' %}
            {{ include: disqus_thread }}
        {% endif %}
    </div>
</div>