<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   posativs Blog: - Seite Index
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-language" content="de, en" />
  <meta content="Mein persönliches Blog über Wuala, Python und alles, was mich so bewegt" name="description" />
  <meta content="Arch Linux, Apple, Python, lilith, Planet, iPhone, Linux, Wuala" name="keywords" />
  <link media="all" href="{{www_root}}/blog.css" type="text/css" rel="stylesheet" />
  <link href="http://blog.posativ.org/favicon.ico" rel="shortcut icon" />
  <link href="http://blog.posativ.org/" rel="home" />
  <link href="http://blog.posativ.org/feed/atom" type="application/atom+xml" rel="alternate" title="Atom-Feed" />
  <link href="http://blog.posativ.org/feed/rss" type="application/rss+xml" rel="alternate" title="RSS-Feed" />
 </head>
 <body>
    <div id="blogheader">
        <div id="blogtitle">
            <h2>
                <a href="http://blog.posativ.org/" class="blogtitle">{{ blog_title }}</a>
            </h2>
        </div>
        <div id="mainlinks">
            <ul>
                <li>
                    <a href="http://blog.posativ.org/">blog</a>
                </li>
                <li>
                    <a href="http://blog.posativ.org/atom/">atom</a>
                </li>
                <li>
                    <a href="http://blog.posativ.org/rss/">rss</a>
                </li>
                <li>
                    <a href="http://blog.posativ.org/articles/">articles</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="blogbody">
        {{ entry_list }}
        {% if page and page > 1 %}
            <a href="{{www_root}}/page/{{ page-1 }}/" class="page floatleft">
            ← neuere Beiträge
            </a>
        {%- endif %}
        {% if page and page < num_entries/items_per_page %}
            <a href="{{www_root}}/page/{{ page+1 }}/" class="page floatright">
            ältere Beiträge →
            </a>
        {%- endif  %}
    </div>
    <div id="blogfooter">
        <p>
            written by <a href="mailto:{{ email }}">posativ</a>
        </p>
        <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/de/">
            <img src="{{www_root}}/img/cc.png" alt="by-nc-sa">
        </a>
    </div>
 </body>
</html>