<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{ blog_title }}
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-language" content="de, en" />
  <meta content="{{ content }}" name="description" />
  <meta content="{{ keywords }}" name="keywords" />
  <link media="all" href="/blog.css" type="text/css" rel="stylesheet" />
  <link href="/favicon.ico" rel="shortcut icon" />
  <link href="/" rel="home" />
  <link href="/atom" type="application/atom+xml" rel="alternate" title="Atom-Feed" />
  <link href="/rss" type="application/rss+xml" rel="alternate" title="RSS-Feed" />
 </head>
 <body>
    <div id="blogheader">
        <div id="blogtitle">
            <h2>
                <a href="/" class="blogtitle">{{ blog_title }}</a>
            </h2>
        </div>
        <div id="mainlinks">
            <ul>
                <li>
                    <a href="/">blog</a>
                </li>
                <li>
                    <a href="/atom/">atom</a>
                </li>
                <li>
                    <a href="/rss/">rss</a>
                </li>
                <li>
                    <a href="/articles/">articles</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="blogbody">
        {{ entry_list }}
        {% if page and page > 2 %}
            <a href="/page/{{ page-1 }}/" class="page floatleft">
            ← neuere Beiträge
            </a>
        {%- endif %}
        {% if page and page == 2 %}
            <a href="/" class="page floatleft">
            ← neuere Beiträge
            </a>
        {%- endif %}
        {% if page and page < num_entries/items_per_page %}
            <a href="/page/{{ page+1 }}/" class="page floatright">
            ältere Beiträge →
            </a>
        {%- endif  %}
    </div>
    <div id="blogfooter">
        <p>
            written by <a href="mailto:{{ email }}">{{ author }}</a>
        </p>
        <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/de/">
            <img src="/img/cc.png" alt="by-nc-sa" />
        </a>
    </div>
    {% if 'disqus' in extensions and type == 'page' %}
        {{ include: disqus_script }}
    {% endif %}
 </body>
</html>